<h1>Editing cdr_entries</h1>

<% form_for(@cdr_entries) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :accountcode %><br />
    <%= f.text_field :accountcode %>
  </p>
  <p>
    <%= f.label :src %><br />
    <%= f.text_field :src %>
  </p>
  <p>
    <%= f.label :dst %><br />
    <%= f.text_field :dst %>
  </p>
  <p>
    <%= f.label :dcontext %><br />
    <%= f.text_field :dcontext %>
  </p>
  <p>
    <%= f.label :clid %><br />
    <%= f.text_field :clid %>
  </p>
  <p>
    <%= f.label :channel %><br />
    <%= f.text_field :channel %>
  </p>
  <p>
    <%= f.label :dstchannel %><br />
    <%= f.text_field :dstchannel %>
  </p>
  <p>
    <%= f.label :lastapp %><br />
    <%= f.text_field :lastapp %>
  </p>
  <p>
    <%= f.label :lastdata %><br />
    <%= f.text_field :lastdata %>
  </p>
  <p>
    <%= f.label :calldate %><br />
    <%= f.datetime_select :calldate %>
  </p>
  <p>
    <%= f.label :answerdate %><br />
    <%= f.datetime_select :answerdate %>
  </p>
  <p>
    <%= f.label :hangupdate %><br />
    <%= f.datetime_select :hangupdate %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :billsec %><br />
    <%= f.text_field :billsec %>
  </p>
  <p>
    <%= f.label :disposition %><br />
    <%= f.text_field :disposition %>
  </p>
  <p>
    <%= f.label :amaflag %><br />
    <%= f.text_field :amaflag %>
  </p>
  <p>
    <%= f.label :uniqueid %><br />
    <%= f.text_field :uniqueid %>
  </p>
  <p>
    <%= f.label :userfield %><br />
    <%= f.text_field :userfield %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @cdr_entries %> |
<%= link_to 'Back', cdr_entries_path %>
