
= link_to "This Week", calls_path(:extension => @extension, :start_date => @last_monday_date)
|
= link_to "Last Week", calls_path(:extension => @extension, :start_date => @last_monday_date-7.days)
|
= link_to "Previous Week", calls_path(:extension => @extension, :start_date => @last_monday_date-14.days)

%br
%br

#calldetail
  %h2= "Call Detail for #{@user.fullname}"
  
  %table
    %tr
      %th Source
      %th Destination
      %th Call Date
      %th Duration
      
    - @grouped_data.each do |name, day_data|
      %tr
        %td{:class => "table_break", :colspan => 4, :align => "left"}
          = "#{name} - #{day_data[0].calldate.strftime("%d/%m/%Y")}"
      - day_data.each do |entry|
        %tr
          %td
            = h parse_phone(entry.src)
          %td
            = h parse_phone(entry.dst)
          %td
            = h entry.calldate.strftime("%d/%m/%Y %H:%M:%S")
          %td{:align => "right"}
            = h seconds_in_time(entry.billsec)
      %tr
        %td{:class => "table_total", :colspan => 4, :align => "right"}
          = "Daily Total: #{day_data.length} calls for #{day_data.map{|d| d.billsec}.sum / 60} minutes"
    %tr
      %td{:class => "table_total", :colspan => 4, :align => "right"}
        = "Weekly Total: #{@data.length} calls for #{@data.map{|d| d.billsec}.sum / 60} minutes"
