<p>
  <b>Accountcode:</b>
  <%=h @cdr_entries.accountcode %>
</p>

<p>
  <b>Src:</b>
  <%=h @cdr_entries.src %>
</p>

<p>
  <b>Dst:</b>
  <%=h @cdr_entries.dst %>
</p>

<p>
  <b>Dcontext:</b>
  <%=h @cdr_entries.dcontext %>
</p>

<p>
  <b>Clid:</b>
  <%=h @cdr_entries.clid %>
</p>

<p>
  <b>Channel:</b>
  <%=h @cdr_entries.channel %>
</p>

<p>
  <b>Dstchannel:</b>
  <%=h @cdr_entries.dstchannel %>
</p>

<p>
  <b>Lastapp:</b>
  <%=h @cdr_entries.lastapp %>
</p>

<p>
  <b>Lastdata:</b>
  <%=h @cdr_entries.lastdata %>
</p>

<p>
  <b>Calldate:</b>
  <%=h @cdr_entries.calldate %>
</p>

<p>
  <b>Answerdate:</b>
  <%=h @cdr_entries.answerdate %>
</p>

<p>
  <b>Hangupdate:</b>
  <%=h @cdr_entries.hangupdate %>
</p>

<p>
  <b>Duration:</b>
  <%=h @cdr_entries.duration %>
</p>

<p>
  <b>Billsec:</b>
  <%=h @cdr_entries.billsec %>
</p>

<p>
  <b>Disposition:</b>
  <%=h @cdr_entries.disposition %>
</p>

<p>
  <b>Amaflag:</b>
  <%=h @cdr_entries.amaflag %>
</p>

<p>
  <b>Uniqueid:</b>
  <%=h @cdr_entries.uniqueid %>
</p>

<p>
  <b>Userfield:</b>
  <%=h @cdr_entries.userfield %>
</p>


<%= link_to 'Edit', edit_cdr_entries_path(@cdr_entries) %> |
<%= link_to 'Back', cdr_entries_path %>
